.main-body{
    background-image: url(resources/assignment\ 1img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  
    
}

.header{
    background-color: white;
  
}

.footer{
    background-color: rgb(188, 97, 97);
}